.GroupPosts {
    text-align: center;
  }
  
  .GroupPosts ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .GroupPosts li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    color: #2b6777;
    background-color: #c8d8e4;
    border-radius: 10px;
    box-shadow: gray 10px 10px 10px;
    transition: transform 0.3s;
    transform: translateX(0px);
  }
  
  .GroupPosts li:hover {
    transition: transform 0.3s;
    transform: translateX(30px);
  }
  
  a li .postTitle {
    font-size: 22px;
    font-weight: 600;
    padding: 15px 25px;
    width: 100%;
    text-align: center;
  }
