.userGroups ul {
    list-style: none;
}

.userGroups div a {
    text-decoration: none !important;
    font-size: 22px;
    font-weight: 600;
    color: #52ab98;
}

.userGroups ul li {
    padding-bottom: 20px;
}

.userGroups li:hover {
    text-decoration: underline #52ab98;
}

.dltBtn {
    border: none;
    background-color: #f2f2f2;
}

